.end-screen-wrapper {
    z-index: 50 !important;
}

.end-screen {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translateX(-50%) translateY(-50%);
    padding: calc(var(--margin) * 4);

    background-color: rgba(128, 128, 128, .8);

    font-size: 42px;
    white-space: nowrap;
}

.end-screen .info span {
    margin-left: calc(var(--margin) * 2);
}

.end-screen-time {
    background-color: lightgray;
}

.end-screen-score {
    margin-bottom: 0;
    background-color: lightgray;
}